{% extends 'base.html' %}

{% block content %}
<h2>{{ page_heading }}</h2>
<h6>{{ template_var }}</h6>
<p>We can use for loops like this (index.html template and run.py):</p>
<ul class="list-unstyled">
{% for number in list_of_numbers %}
    <li><h5>{{ number }}</h5></li>
{% endfor %}
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa rerum fugiat rem ipsum, repellat architecto tempore? Alias nemo, incidunt earum voluptatum expedita excepturi iure ea, voluptatibus deserunt aliquid impedit, itaque.</p>
{% endblock %}