{% extends 'base.html' %}

{% block content %}
<h2>{{ page_heading }}</h2>
<h6>{{ template_var }}</h6>
<p>We can use for loops like this (index.html template and run.py):</p>
<ul class="list-unstyled">
{% for number in list_of_numbers %}
    <li><h5>{{ number }}</h5></li>
{% endfor %}
</ul>

<p>Or we can load data from a file and loop through it using keys/values (see run.py, data/data.json and index.html template):</p>

<ul class="list-unstyled">
    {% for item in json_data %}
        <li>
            <p>Item:</p>
            <ul>
                {% for key, value in item.items() %}
                    <li><strong>Key:</strong> {{ key }}, <strong>Value:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<p>It's also possible to access keys/values by their names or positions (this prints out all the "name" keys):</p>

<ul class="list-unstyled">
    {% for item in json_data %}
        <li>Name: {{ item.name }}</li>
    {% endfor %}
</ul>

<p>We can access the loop index by using loop.index:</p>

<ul class="list-unstyled">
    {% for item in json_data %}
        <li>Loop Index: {{ loop.index }}</li>
    {% endfor %}
</ul>

<p>Or if you want it 0-based, you can use loop.index0:</p>

<ul class="list-unstyled">
    {% for item in json_data %}
        <li>Loop Index: {{ loop.index0 }}</li>
    {% endfor %}
</ul>

<p>Finally, we can use if-then logic (this prints out only key/value pairs if the value contains the string '2'):</p>

<ul class="list-unstyled">
    {% for item in json_data %}
        {% for key, value in item.items() %}
            {% if '2' in value %}
                <li><strong>Key:</strong> {{ key }}, <strong>Value:</strong> {{ value }}</li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>

<p>Let's put it together and use some advanced routing:</p>

<ul class="list-unstyled">
    {% for item in json_data %}
        <li><a href="/about/{{ item['url'] }}">{{ item['name']}}</a></li>
    {% endfor %}
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa rerum fugiat rem ipsum, repellat architecto tempore? Alias nemo, incidunt earum voluptatum expedita excepturi iure ea, voluptatibus deserunt aliquid impedit, itaque.</p>
{% endblock %}